<%- include("header") -%>
<!-- <div class="notFound">
  <h1>Uh oh! No such List found!</h1>
  <form class="" action="/" method="post">
    <button class="newList" type="submit"  name="list" value="Today" >Try Again</button>
  </form>

</div> -->
<form class="" action="/" method="post">
<div class="notFound">
<div class="container">
      <div class="jumbotron mt-3">
        <h1>Uh Oh!</h1>
        <p class="lead">The list you are trying to find does not exist. Press 'Try Again' to move to home page.</p>
        <a class="btn btn-lg btn-primary" href="/" role="button">Try Again &raquo;</a>
      </div>
    </div>



    </div>
      </form>

</body>
</html>
